html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
}

body {
    font: 12px/150% Arial,Verdana,"\5b8b\4f53";
    color: #666;
    background: #fff;
    _background-image: url(about:blank);
    _background-attachment: fixed;
}

h2, h3 {
    font-size: 14px;
}

ol, ul {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.w {
    width: 990px;
    margin: 0 auto;
}

.w1 {
    margin-bottom: 10px;
}

a {
    color: #666;
    text-decoration: none;
}

img {
    vertical-align: middle;
}
a img {
    border: 0px none;
}
.progress {
    padding-top: 6px;
}
    a:-webkit-any-link {
        color: -webkit-link;
        text-decoration: underline;
        cursor: auto;
    }

.ld {
    position: relative;
    zoom: 1;
}
.clearfix {
    display: block;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}


#toppanel {
    position: relative;
    z-index: 1000;
}
#logo {
    padding-left: 5px;
    float: left;
}
.header {
    padding: 20px 0px 10px;
}

#shortcut-2013 {
    width: 100%;
    border-bottom: 1px solid #eee;
    line-height: 30px;
}

    #shortcut-2013, #shortcut-2013 .w {
        height: 30px;
        background: #F7F7F7;
    }

        #shortcut-2013 li {
            height: 30px;
            padding: 0 11px 0 12px;
        }

            #shortcut-2013 li s {
                top: 9px;
                left: 0;
                width: 0;
                height: 12px;
                border-left: 1px solid #DDD;
                overflow: hidden;
            }

.ld s, .ld b, .ld .block {
    position: absolute;
    overflow: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.lh {
    overflow: hidden;
    zoom: 1;
}


    .lh li, .lh dl, .lh .item {
        float: left;
    }

    .form label, .form input, .form select, .form textarea, .form button, .form .label {
    float: left;
    font-size: 12px;
}
    .p-img, .p-name, .p-price, .p-market, .p-detail {
    overflow: hidden;
}

    .p-price {
    color: #999;
}
    /***cart*/

    
.progress ul {
    width: 481px;
    float: right;
}
.progress li {
    width: 160px;
    height: 23px;
    float: left;
    color: #BCE8A3;
    line-height: 23px;
    text-align: center;
}
.progress li b {
    width: 22px;
    height: 25px;
    display: none;
}
.progress li.step-1 {
    color: #7ABD54;
}
.progress li.step-2 {
    color: #AAA;
    width: 161px;
}

.progress li.step-3 {
    color: #AAA;
}


.progress .progress-1 {
    background: url('http://misc.360buyimg.com/purchase/cart/skin/i/step1.png') no-repeat scroll 0% 0% transparent;
    width: 481px;
    padding-top: 23px;
    overflow: hidden;
    height: 23px;
}


    .cart {
    padding-bottom: 20px;
}
    .cart .cart-hd {
    height: 35px;
}
.cart-hd {
    position: relative;
}

.cart .cart-hd h2 {
    width: 100px;
    float: left;
}
.cart h2 {
    height: 20px;
    margin-bottom: 15px;
    line-height: 100px;
    overflow: hidden;
    background: url('http://misc.360buyimg.com/purchase/cart/skin/i/my_cart_title.png') no-repeat scroll left top transparent;
}
.cart .cart-hd .fore {
    padding-left: 40px;
    line-height: 21px;
}
.cart .cart-hd span, .cart .cart-hd a {
    float: left;
}
.cart-frame {
    height: 0px;
    line-height: 0;
    font-size: 0px;
    position: relative;
}

.cart-inner {
    border-right: 1px solid #DDD;
    border-width: 2px 1px 1px;
    border-style: solid;
    border-color: #999 #DDD #DDD;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

.cart-frame .tl {
    background-position: 0px 0px;
}
.cart-frame .tl, .cart-frame .bl {
    left: 0px;
}
.cart-frame .tl, .cart-frame .tr {
    bottom: -4px;
}
.cart-frame div {
    display: none;
    width: 4px;
    height: 4px;
    overflow: hidden;
    line-height: 0;
    font-size: 0px;
    position: absolute;
    background: url('http://misc.360buyimg.com/purchase/cart/skin/i/cart_corner_1.png') no-repeat scroll 0% 0% transparent;
}

}
.cart-frame .tr {
    background-position: -4px 0px;
}
.cart-frame .tr, .cart-frame .br {
    right: 0px;
}
 
.cart-frame div {
    display: none;
    width: 4px;
    height: 4px;
    overflow: hidden;
    line-height: 0;
    font-size: 0px;
    position: absolute;
    background: url('http://misc.360buyimg.com/purchase/cart/skin/i/cart_corner_1.png') no-repeat scroll 0% 0% transparent;
}


.cart-inner {
    border-right: 1px solid #DDD;
    border-width: 2px 1px 1px;
    border-style: solid;
    border-color: #999 #DDD #DDD;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

.cart-inner .cart-thead {
    height: 35px;
    background-color: #F7F7F7;
}

.cart-thead .column {
    width: 99px;
    height: 35px;
    border-right: 1px solid #F7F7F7;
    float: left;
    color: #666;
    line-height: 35px;
    text-align: center;
}

.cart-thead .t-checkbox {
    line-height: normal;
    text-align: left;
}
.cart-thead .t-checkbox input {
    margin: 11px 5px 0px 19px;
    display: inline;
}

.cart-thead .t-checkbox label {
    line-height: 35px;
}
.cart-thead .t-goods {
    width: 309px;
}
.cart-thead .t-price {
    width: 128px;
    text-align: right;
}
.cart-thead .t-promotion {
    width: 149px;
}
.cart-thead .t-action {
    border-right: 0px none;
}

.cart-inner .cart-tbody {
    border-bottom: 1px solid #DDD;
}

.cart-tbody .item_selected {
    background-color: #FFFDEE !important;
}
.cart-tbody .item, .cart-tbody .item-meet, .cart-tbody .suit {
    clear: left;
}
.cart-tbody .item {
    border-top: 1px solid #DDD;
    padding: 10px 0px;
}

.cart-tbody .p-checkbox {
    width: 50px;
    height: 52px;
}
.cart-tbody .cell {
    float: left;
    min-height: 52px;
    height: auto !important;
}
.cart-tbody .p-checkbox input {
    margin: 20px 0px 0px 19px;
    float: left;
    display: inline;
}
.cart-tbody .p-goods {
    width: 359px;
    overflow: hidden;
}
.cart-tbody .p-name {
    padding-right: 10px;
    line-height: 18px;
}
.p-name, .p-detail {
    word-break: break-all;
    word-wrap: break-word;
}
.cart-tbody .p-name a, .cart-tbody .p-name a:visited, .cart-tbody .p-name a:hover, .cart-tbody .p-remove a, .cart-tbody .p-remove a:visited, .cart-tbody .p-remove a:hover {
    color: #005EA7;
}
.cart-tbody .p-price {
    width: 130px;
    text-align: right;
    line-height: 52px;
}
.cart-tbody .p-promotion {
    width: 150px;
}

.cart-tbody .p-inventory, .cart-tbody .p-remove {
    line-height: 52px;
    text-align: center;
}
.cart-tbody .p-inventory, .cart-tbody .p-quantity {
    width: 100px;
    text-align: center;
}
.cart-tbody .p-inventory {
    color: #999;
}

.cart-tbody .p-quantity {
    line-height: 52px;
}
.cart-tbody .p-inventory, .cart-tbody .p-quantity {
    width: 100px;
    text-align: center;
}
.cart-tbody .p-quantity .quantity-form {
    width: 76px;
    height: 22px;
    margin: 0px auto;
    padding-top: 16px;
    overflow: hidden;
    text-align: left;
}
.cart-tbody .p-quantity a {
    width: 13px;
    height: 13px;
    margin-top: 3px;
    float: left;
    display: block;
    overflow: hidden;
    line-height: 13px;
    background: none repeat scroll 0% 0% #FFF;
    border: 1px solid #CCC;
    text-align: center;
}
.cart-tbody .p-quantity a.decrement {
    margin-right: 5px;
}
.p-quantity .quantity-form input {
    float: left;
    border: 1px solid #CCC;
}
.cart-tbody .quantity-text {
    width: 34px;
    height: 18px;
    border-width: 1px;
    border-style: solid;
    border-right: 1px solid #DDD;
    border-color: #AAA #DDD #DDD #AAA;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    padding-top: 2px;
    overflow: hidden;
    text-align: center;
    background-color: #FFF;
}
.cart-tbody .p-quantity a.increment {
    float: right;
}
.cart-tbody .p-inventory, .cart-tbody .p-remove {
    line-height: 52px;
    text-align: center;
}
.cart-tbody .p-remove {
    width: 99px;
    color: #005EA7;
}