@model SpecialSaleStageGroupModel
@{
   
}
<table class="adminContent">

    <tr>
        <td class="adminTitle">@Html.NopLabelFor(s => s.Name)</td>
        <td class="adminData">@Html.EditorFor(s => Model.Name)</td>
    </tr>
 
    <tr>
        <td class="adminTitle">@Html.NopLabelFor(s => s.DisplayOrder)</td>
        <td class="adminData">@Html.EditorFor(s => Model.DisplayOrder)</td>
    </tr>
</table>